/stockfish_x64_modern.exe
/stockfish_32bit.exe
/stockfish_x64.exe
/target/
/nbactions.xml
/nb-configuration.xml
/src/main/resources/blenderbuildfiles/
/src/main/java/fr/com/jellyfish/jfgjellyfishchess/jellyfishchess/jellyfish/documentation/backlog/
/src/main/resources/scrapcode/
/stockfish-6-sse42.exe
/stockfish_x32.exe
/stockfish-6-bmi2.exe
/src/test/java/